[2018-07-02 08:03] oscarlgz opened #1 "Date issue"
Thank you for your work on this library!

https://github.com/RebirthDB/rebirthdb-ts/blob/master/src/response/response-parser.ts#L23

This line of code works fine with dates that have been created by the DB's own date methods (such as r.now()), however if the date was created by Javascript (i.e. new Date() or Date.now()) the driver will return a date a couple of thousand years into the future!

[2018-07-03 12:31] ronzeidman commented on #1
In the admin panel you can also see the date in the future? I think the issue is in the creation not the parse. I'll check it.

[2018-07-03 12:56] oscarlgz commented on #1
@ronzeidman Yes the stored date is in the future, so you are correct. It's the creation.

[2018-07-03 13:12] ronzeidman commented on #1
fixed, you can test the latest release

[2018-07-03 13:19] oscarlgz commented on #1
Yes works great, thanks a lot!

[2018-07-03 13:22] #1 closed

[2018-10-05 21:12] kyranet opened #3 "RTable#{indexStatus,indexWait} being unaccurate"
According to the following lines, they do not return an array:

https://github.com/rethinkdb/rethinkdb-ts/blob/a8403fb4d0507f0e390061ec18b8df5d7215dcff/src/types.ts#L941-L942

However, according to the official API documentation [index_status](https://www.rethinkdb.com/api/javascript/index_status/) and [index_wait](https://www.rethinkdb.com/api/javascript/index_wait/) they effectively return array

[2018-10-08 16:33] ronzeidman commented on #3
Good catch, fixed

[2018-10-08 16:33] #3 closed

[2018-10-08 17:45] vladfrangu opened #4 "R#tableCreate can create the table multiple times thanks to raceconditions"
I have found an annoying quirk with R#tableCreate, where you can run it with the same table name as many times as you want and it will create the table, creating issues due to the table existing multiple times.

This seems to be a race-condition of sorts as it only happens when two processes which are launched at the same time try to create the table if it doesn't exist.

This has never happened b

[2018-10-12 15:01] ronzeidman commented on #4
I can't think of a reason this can happen, also I cannot think of a way I can synchronize the requests between two different processes... but even if it's an issue with this driver, the database should probably safe guard against creating two different tables with the same name. In my opinion, this should be an open issue on the main rethinkdb repo.

[2018-10-14 15:17] freewind opened #6 "`connectPool` has wrong type definition"
In definition, it has a return type of `Promise<MasterPool>`:

https://github.com/rethinkdb/rethinkdb-ts/blob/b0d0dbbe6c5a00611788e8ac6695b17421aa3636/src/types.ts#L1067

But in the code, it doesn't return anything:

https://github.com/rethinkdb/rethinkdb-ts/blob/e030e4712be7515046c5f48612d84831afbc67a3/src/query-builder/r.ts#L19-L56

[2018-10-14 17:57] ronzeidman commented on #6
thanks, fixed

[2018-10-14 17:57] #6 closed

[2018-11-08 11:03] kjetilhp opened #7 "Pool status - healthy never get updated?"
If the server goes down after connected it seems like the connection count and health info isn't updated. see comments inline in the code..

Having the same issue wiht rethinkdbdash
(using latest versions)

example:
[code]

rethinkdbdash issue might be related: https://github.com/neumino/rethinkdbdash/issues/366

[2018-11-11 20:05] ronzeidman commented on #7
I ran exactly your code but couldn't reproduce this issue:
[code]

[2018-11-11 21:29] ronzeidman commented on #7
reconnecting was an issue, I've fixed it. also you cannot start the pool without a valid server, if you want to do that anyway you can now add a config: `waitForHealthy: false` when you `connectPool`.
Please update if the issue is fixed for you in v2.4.0-rc.11
Thanks for reporting!

[2018-11-12 08:53] kjetilhp commented on #7
I'm not getting the same output as you when trying,
I cloned your repo, build
[code]
copied the same code as before to the clone folder and I get:
[code]
(note: removed most of the debug, I waitet longer before shutting down and restarting)

Only thing that are changed are available length goes to zero, health is still true. Not sure what I'm doing different than you here...

(node v10.13.00, reth

[2018-11-12 19:39] ronzeidman commented on #7
This shouldn't be possible... can you try querying while the container is down? what does it return?

[2018-11-12 19:41] ronzeidman commented on #7
The available length doesn't really mean anything since a single connection can run multiple queries simultaneously, it just means that the ping is running.

[2018-11-12 20:33] kjetilhp commented on #7
[code]
...and so on

[2018-11-13 09:16] ronzeidman commented on #7
And that's on the newer version? What OS are you using? Interesting stack
traces. I'll look into it soon.

On Mon, Nov 12, 2018, 22:33 Kjetil Paulsen <notifications@github.com wrote:

[2018-11-13 10:17] kjetilhp commented on #7
I’m on osx, latest version. Yeah this is rc11.

[2018-11-14 07:53] kjetilhp commented on #7
worked better, but still the health state isn't updated when I shut down the server again (see inline comment where that happen..) the events isn't fired anymore

[code]

[2018-11-14 21:51] kjetilhp commented on #7
############################
catch { ReqlDriverError: None of the pools have an opened connection and
failed to open a new one.
    at MasterConnectionPool.queue
(/Users/kjetil/dev/rethinkdb/rethinkdb-ts/lib/connection/master-pool.js:134:19)
    at Proxy.<anonymous>
(/Users/kjetil/dev/rethinkdb/rethinkdb-ts/lib/query-builder/term-builder.js:77:67)
    at Server.<anonymous>
(/Users/kjetil/dev/rethi

[2018-11-16 21:48] kjetilhp commented on #7
Just a quick note, tested the exact same setup in a Linux vm on my mac and everything works as expected, only difference is the os and that rethink is running natively instead of in a container, will test some different configurations on osx later..

[2018-11-22 10:59] kjetilhp commented on #7
Did some more testing, this time on another mac, same versions - same setup - same code. Results are mainly the same, however, I notice that if I just run the code that checks the health and length without querying, the values never get updated and the events are never fired. If I do have the query in there, the values are updated after a request comes back with an error.

[2018-11-26 21:52] gustavopch opened #8 "ReqlDriverError: query cancelled"
When doing `cursor.close()`, the error `ReqlDriverError: query cancelled` gets printed to the console.

[code]

What is the expected way to close a cursor of a changefeed?

[2018-11-27 18:09] ronzeidman commented on #8
This is the expected way of closing a changefeed, the query cancelled exception is sent to all the cursor listeners by design, you can disable the logging but setting the silent variable to true.

The question is since it's an expected behavior even though it is an exception, should skip logging it. I think you're right and I'll skip logging this specific error, but since it's not critical the fix

[2018-12-11 16:58] ChrisTalman opened #9 "TLS"
Does `rethinkdb-ts` support TLS connections?

I can't find any documentation on its usage.

[2018-12-11 18:14] ChrisTalman commented on #9
Having looked into the code, it seems that TLS connections are supported. The subtle difference from the old official driver is that the property in the options object is `tls`, [rather than `ssl`](https://rethinkdb.com/api/javascript/connect/). The full set of options can be [viewed in the Node documentation](https://nodejs.org/api/tls.html#tls_tls_connect_options_callback), although likely only

[2018-12-11 19:00] ChrisTalman commented on #9
I should note, though, that I'm having trouble getting TLS to work.

I attempt to create a pool:

[code]
However, the promise is rejected, and the Rethink server reports that the handshake failed:
[code]
I've attempted to tweak the server options as it suggests, to no avail. In any case, so far as I'm aware, my Node version should use `TLSv1.2`. So, this error seems quite odd. The client and serve

[2018-12-11 21:18] ronzeidman commented on #9
I see you saw my added support for tls, try connecting like this
[code]

[2018-12-11 21:34] gustavopch commented on #9
That doesn't work here. I'm digging through the code in my node_modules and trying to understand what's happening.

Here's the connect snippet in my code:
[code]
But look at the content of `options` at the image below (which shows the code of the method `connect` at `connection/socket.js`). For some reason it ignores all the props apart from host and port.
![image](https://user-images.githubuserco

[2018-12-11 21:38] ronzeidman commented on #9
sorry, try
[code]

[2018-12-11 21:40] gustavopch commented on #9
Perfect! That works. Thanks.

[2018-12-11 21:41] ronzeidman commented on #9
Great, can I close the issue?

[2018-12-11 21:46] ChrisTalman commented on #9
It seems that the `tls` property is not being passed along the chain of operations to `connect()` in `class RethinkDBSocket`. Unless there's a good reason for the current situation, it seems like it would be useful to change this behaviour, so that it is passed along. I could submit a PR, or someone else - I don't mind either way.

Also, it'd probably still be helpful for future troubleshooting fo

[2018-12-11 21:51] ronzeidman commented on #9
Added it to the readme, if something is unclear, suggest an edit.
The connection settings by design are encapsulated under server/servers property, I've added support for direct simple "host/port" settings for "backwards" (other driver's) compatibility.

[2018-12-11 22:11] ronzeidman commented on #9
done

[2018-12-11 22:11] ChrisTalman commented on #9
Oh, I see, I was not aware of that. This issue should be resolved, then. Thanks for the help!

As an aside, concerning the documentation, perhaps it might be helpful for newcomers if the `server` design is made clear at the start of the `README.md`, such as under the 'Initialize' section. In other words, it could be presented as the default way of going about things. In the current form of the doc

[2018-12-11 22:11] #9 closed

[2018-12-11 22:17] ronzeidman commented on #9
You're right, the documentation is really lacking, now you have to relying on rethinkdbdash, rethinkdb, the readme and the typings to provide sufficient documentation. I wanted to write the full documentation in the new open-rethink site which is supposed to declare this driver as the new official driver but it's delayed...

[2018-12-26 13:46] GaikwadPratik opened #10 "RTable#{nth} should return RSingleSelection"
While executing below query, a single record is returned
```r.table('table').filter(options).orderBy(column).nth(0)```
then result should be of type of `RSingleSelection<T>` instead of `RDatum<T>`

[2018-12-31 12:38] ChrisTalman opened #11 "run(): Retry Mechanism"
Transient failures can sometimes cause a query to fail at one moment, but be capable of running successfully a moment later. For instance, network instability or limited database system resources.

Could it be useful for the driver to provide a retry mechanism of some kind which can be activated by specifying an option to `run()`? The same option could also be provided as part of the connection op

[2019-01-01 10:44] ronzeidman commented on #11
Sounds good, can you share your wrapper? For what exceptions exactly are
you retrying? Do you also reconnect or just resending the query? Are you
using the connection pool?

On Mon, Dec 31, 2018, 14:38 Chris Talman <notifications@github.com wrote:

[2019-01-02 15:00] ChrisTalman commented on #11
It was essentially just a method which would run a query within a try catch block. If it ran successfully, the result would be returned. If it failed, it would be retried after a short delay, starting at 200ms, and doubling on each failure. If it failed 3 times, the last error would be thrown.

I needed the functionality quickly, and so at the time I decided to simply retry on all errors. It would

[2019-01-04 17:46] ChrisTalman opened #12 "indexCreate(): Typing Disallows Buffer for indexFunction"
The [`indexCreate()`](https://rethinkdb.com/api/javascript/index_create/) command can accept its optional argument `indexFunction` as a `Buffer`. However, the module typing seems to disallow this at the moment. It seems that `Buffer` could be added to the available types for `indexFunction`. I can submit a PR, unless someone else wishes to handle this.

[2019-01-08 08:12] beenotung opened #13 "request to update npm distribution"
In the latest version on npm (rethinkdb-ts@2.4.0-rc.11, which is the same as the one in master branch),
there is typo on the RTable, of `insert` into `ensert`

[2019-01-24 21:49] ronzeidman commented on #13
try 2.4.0-rxc.12

[2019-01-24 21:49] ronzeidman commented on #12
try 2.4.0-rxc.12

[2019-01-24 21:49] ronzeidman commented on #10
try 2.4.0-rxc.12

[2019-01-24 21:49] ronzeidman commented on #8
try 2.4.0-rc.12

[2019-01-24 21:50] ronzeidman commented on #7
try 2.4.0-rc.12, it's after @joakimbeng PR merge

[2019-01-25 11:17] #10 closed

[2019-01-27 13:06] ChrisTalman commented on #12
Thanks, it seems to be fixed. 👍 @ronzeidman

[2019-01-27 13:06] #12 closed

[2019-01-28 12:43] kjetilhp commented on #7
seems to work like expected now, great work

[2019-01-28 12:43] #7 closed

[2019-02-05 11:47] ChrisTalman opened #16 "Description Not RethinkDB"
The description of the repository seems to be `RebirthDB` instead of `RethinkDB`. 😉

[2019-02-08 13:56] lenovouser opened #17 "Can't connect with passwords with a length of more than 62"
In particular with passwords with a length of 64. I tried changing them to 60 and it works.

[code]

[2019-02-08 19:40] ronzeidman commented on #17
Interesting, I'm guessing you've tried it with the original driver or the rethinkdbdash one and it works, right?
Maybe I should send the password in chunks? I'll look how the other drivers do it...

[2019-02-08 19:41] #8 closed

[2019-02-08 19:41] #13 closed

[2019-02-08 19:42] ronzeidman commented on #16
Thanks, fixed

[2019-02-08 19:42] #16 closed

[2019-02-08 19:42] ronzeidman commented on #4
Sorry, could not reproduce, closing...

[2019-02-08 19:42] #4 closed

[2019-02-08 19:44] lenovouser commented on #17
Not too big of an issue, I just 'downgraded' all the passwords to a smaller length.

Yes - I've tried with the original one, and it works.

I am in currently working on switching all of our projects to this driver since it natively supports TypeScript and I've got to say: you did an awesome job here! Thank you so much for creating this!

[2019-02-17 17:21] tommmn opened #18 "Transactions implement"
Hey, I would like to know what is the best practice to implement kind of transaction flow.
I know that in other DB's there are built-in methods to achieve that, but here I didn't find one solid answer.
Basic flow:
 1. Successful payment
 2. Update Transactions history table
 3. Update User privileges

The main problem is between the last steps, I could do it in one query with .do() , but if it wil

[2019-03-05 14:40] basavantrayagouda opened #19 "Module not found error while compiling"
ERROR in ./node_modules/rethinkdb-ts/lib/connection/handshake-utils.js
Module not found: Error: Can't resolve 'crypto' in '\node_modules\rethinkdb-ts\lib\connection'
ERROR in ./node_modules/rethinkdb-ts/lib/connection/master-pool.js
Module not found: Error: Can't resolve 'net' in '\rethinkdb-ts\lib\connection'
ERROR in ./node_modules/rethinkdb-ts/lib/connection/socket.js
Module not found: Error: C

[2019-03-05 15:55] basavantrayagouda opened #20 "class extends value undefined is not a constructor or null"
vendor.js:194375 Uncaught TypeError: Class extends value undefined is not a constructor or null
    at Object../node_modules/rethinkdb-ts/lib/response/cursor.js (vendor.js:194375)
    at __webpack_require__ (runtime.js:77)
    at Object../node_modules/rethinkdb-ts/lib/connection/connection.js (vendor.js:191542)
    at __webpack_require__ (runtime.js:77)
    at Object../node_modules/rethinkdb-ts/li

[2019-03-06 08:59] ronzeidman commented on #19
Seems like you are trying to compile this module in a non-node environment (probably browser). this drive supports only node environment... sorry

[2019-03-06 08:59] ronzeidman commented on #20
Seems like you are trying to compile this module in a non-node environment (probably browser). this drive supports only node environment... sorry

[2019-03-06 09:01] ronzeidman commented on #18
Transactions are not implemented in RethinkDB. there is a possibility to simulate transactions in the driver but it will work only for projects using only this driver (or probably a different library on top of this driver) and will require specific fields/tables in the database. Its currently not in the scope of this project

[2019-04-02 12:57] kjetilhp opened #21 "Changefeed issues"
Rethinkdb/rethinkdbdash have all had issues with reconnecting changefeeds after a restart or error in the server. Same issue with this driver. Previously I've been using https://github.com/LearnersGuild/rethinkdb-changefeed-reconnect, just a couple of simple methods that could be supported by a driver, is this something you have considered or is it some better way to do it with now with streams? S

[2019-04-02 17:16] ronzeidman commented on #21
Sounds like a nice feature. It's weird that after `r.getPoolMaster().isHealthy` is too early, since there is an available successful connection in the pool. I'll think about adding this feature to the next (release?) Version

[2019-04-02 17:16] #20 closed

[2019-04-02 17:17] #19 closed

[2019-04-03 07:02] kjetilhp commented on #21
I can add some test code to show what I tested, I tested against one node
in a cluster, which I restarted,  and it seems that even though you get a
connection and the pool is healthy, rethink isn’t ready yet to handle
requests. Checking shards and so on.

--
mvh / regards
Kjetil Paulsen
kjetil.paulsen@gmail.com

On 2 April 2019 at 19:16:26, Ron Zeidman (notifications@github.com) wrote:

Sounds lik

[2019-04-03 09:51] kjetilhp commented on #21
Test code:
[code]

log output:
[code]

log output of rethinkdb server:
[code]

[2019-04-04 22:34] ronzeidman commented on #21
There was an issue with getting back to healthy state and I fixed it now (version v2.4.0-rc.13)
Also apparently you have to wait until the table is ready for reads so you can read for it,
try this code with the new version, it works for me:
[code]

[2019-04-05 11:02] kjetilhp commented on #21
Works, thx - don't know if you want to close the issue if you consider adding reconnecting as driver feature.

[2019-04-05 16:03] ronzeidman commented on #21
Maybe, but it'll probably be better to make it a part of a utility library on top of this driver. I'll close this issue for now

[2019-04-05 16:03] #21 closed

[2019-04-05 16:06] ronzeidman commented on #21
BTW I should have closed the `readyCursor` after the `await`

[2019-04-18 00:06] lenovouser opened #23 ".hasFields() typings don't allow nested field syntax"
Using:

[code]

fails with

[code]

which should be possible according to [rethinkdb.com/api/javascript/has_fields](https://rethinkdb.com/api/javascript/has_fields):

![](https://i.lenovouser.me/lfZ2PtD3fqwDNLPP.jpg)

[2019-04-19 18:26] ronzeidman commented on #23
Thanks, I'll look into it and approve your pull request soon

[2019-04-19 18:29] lenovouser commented on #23
Alright, no worries.

The PR is for `.update()` and `.filter()` - not this issue. Even though they are similar.

`.hasFields()` doesn't allow objects in the first place right now so I didn't know how to add the `DeepPartial` to it.

[2019-04-27 10:55] ChrisTalman commented on #18
This isn't possible right now. However, there's some hope that the ReQL-on-FoundationDB project could allow for transactions in ReQL, given that FoundationDB has transactions. Unfortunately, through, I'm not aware of any movement on that project yet. Last I heard the challenge was to find people to fund the project. [There's some more detail here.](http://samuelhughes.com/blog/10.html)

[2019-04-27 11:34] ChrisTalman opened #24 "do().concatMap() Lacks Call Signature"
I'm using `2.4.0-rc.13` with a query resembling the following.

[code]

Unfortunately, it causes the following type error.

I've looked into the types, but haven't found the issue. It seems as though `concatMap()` might not be willing to accept the selection returned by `do()`.

Any help would be much appreciated. 😃

[2019-04-29 18:37] ronzeidman commented on #24
try to add after `getAll(variables('userId')).coerceTo('array')`

[2019-06-23 01:31] GaikwadPratik opened #27 "TableReconfigureOptions missing `emergencyRepair`"
According to [reconfigure page](https://www.rethinkdb.com/api/javascript/reconfigure/), `emergencyRepair` should be part of `TableReconfigureOptions`. Although I see it being defined in `Repair` interface but neither is used anywhere in typescript definition file. Also as per, [documentaion](https://www.rethinkdb.com/api/javascript/reconfigure/#emergency-repair-mode) it should be available on `Tab

[2019-06-23 21:42] #27 closed

[2019-06-23 21:58] #24 closed

[2019-06-24 20:01] GaikwadPratik opened #29 "can not update using object notation"
@ronzeidman

After updating from `2.4.0-rc.13` to `2.4.0-rc.15`, following line:
[code]
fails compilation with error
![image](https://user-images.githubusercontent.com/5595263/60047409-ab51be80-9697-11e9-8869-7571203fb796.png)

However switching to anonymous function compiles successfully
[code]

Also how do I update multiple values using anonymous/lamda function?

[2019-06-25 20:37] GaikwadPratik commented on #17
Just tested, works upto 62 characters. 63 onwards you get error

[2019-06-26 01:33] GaikwadPratik commented on #29
@ronzeidman , @lenovouser,

Can you please assist here? Its show stopper for me right now...

[2019-06-26 05:53] lenovouser commented on #29
@GaikwadPratik what TypeScript version are you using?

[2019-06-26 06:24] lenovouser commented on #29
@GaikwadPratik for me it also fails with `2.4.0-rc.12` and `2.4.0-rc.13` so it's not a issue caused by the update of the library. Also I don't know how TypeScript should even infer the correct value of a row if you're not using a function

[2019-06-26 09:40] GaikwadPratik commented on #29
@lenovouser , @ronzeidman

[official update](https://www.rethinkdb.com/api/javascript/update/) page suggest that we can use object notiation. So how do you guys write the queries? without `T`? how would one get advantage of using compile time validation?

[2019-06-27 21:48] #29 closed

[2019-07-01 18:36] GaikwadPratik opened #31 "emergencyRepair is an optional field"
Correction to https://github.com/rethinkdb/rethinkdb-ts/pull/28 for https://github.com/rethinkdb/rethinkdb-ts/issues/27

[2019-07-02 15:38] #31 closed

[2019-07-09 06:14] NetOperatorWibby commented on #17
What a weird, obscure error. 1Password allows for passwords to be 64 characters long so that's the default I generate them at.

This should be in the documentation.

[2019-07-11 22:01] GaikwadPratik opened #33 "ReqlAuthError on Connection pool"
Here is something weird that I observed:

[code]

if you create a single connection with above option using:
[code]
it throws error:

[code]
BUT where as if you try to create connectionPool:
[code]
I get the below error:
[code]

This behavior is confusing. Is there anyway that we can get same `ReqlAuthError` if the connection options are incorrect for connection pool as well?

[2019-07-12 23:47] GaikwadPratik commented on #33
@ronzeidman ,

Any thoughts?

[2019-07-19 14:00] maeb commented on #17
The culprit of this bug is the `NULL_BUFFER` being appended to the password buffer:
https://github.com/rethinkdb/rethinkdb-ts/blob/25bb6aa8e2878ce720fde0dafa17294c2e311638/src/connection/connection.ts#L66

This works: ```password = password ? Buffer.from(password) : NULL_BUFFER```

[2019-07-19 14:08] maeb commented on #18
It is possible to implement distributed locking using RethinkDB. See [_Atomically updating a document based on a condition_](https://www.rethinkdb.com/docs/cookbook/javascript/#manipulating-documents).

[2019-07-20 14:57] ChrisTalman commented on #18
@maeb Unfortunately, atomicity is limited to a single document. Atomicity cannot be guaranteed across more than one document in a table, or across multiple tables.

Single-document atomicity is certainly powerful. I've used it to simulate rudimentary transactions in a single table to prevent 'duplicate' documents, based upon multiple document fields. However, this is still ultimately unsafe, as th

[2019-07-26 07:14] ronzeidman commented on #33
You're right, I'll try to add a cause to the pool initialization error.

[2019-07-26 07:17] #17 closed

[2019-07-26 18:54] ronzeidman commented on #33
try the latest version: 2.4.0-rc.16

[2019-07-29 14:33] GaikwadPratik commented on #33
Fixed... closing this issue.
Thanks @ronzeidman

[2019-07-29 14:33] #33 closed

[2019-09-17 19:00] lenovouser opened #36 "Multiple connections to different not working"
I haven't found the root cause yet, but to me it seems like you can't create two different connections to different RethinkDB servers. If you try to the first connects, but the second one just hangs.

[2019-09-17 19:34] lenovouser commented on #36
I debugged a bit further, this is only the case when using two different clusters, not when using `.connect()` only. I am trying to connect to a `staging` and `production` cluster to work with data from both environments.

[2019-09-26 14:15] GaikwadPratik opened #37 "Data validation or schema validation on table"
This is more of a question than bug.

@ronzeidman,

Is there anyway I can utilize JSON schema validators such as [AJV](https://github.com/epoberezkin/ajv) on the write operations at the least through this library?

[2019-09-26 17:35] ronzeidman commented on #37
since `update` can be a function it's impossible to validate it unless we create a parser that will take a json schema and convert it to a function that we can save as "write hooks", this can take some effort but is possible, but will only work on rethinkDB versions that support write hooks (>2.3.6)
creating a client-side schema validator is only partially possible for inserts (only ones that are

[2019-09-30 13:14] GaikwadPratik commented on #11
@ronzeidman @ChrisTalman

Did you get a chance to work on this further?

[2019-09-30 13:32] ChrisTalman commented on #11
I've just been using the function I wrote for myself.

[2019-10-07 18:58] kyranet opened #38 "query() seems to cause a V8 crash"
[code]

Likewise the CPU and RAM usage went _nuts_ after this call (information by Netdata):

![image](https://user-images.githubusercontent.com/24852502/66339989-92b69d00-e944-11e9-80f1-d86089798d2c.png)
![image](https://user-images.githubusercontent.com/24852502/66340004-99451480-e944-11e9-9887-951de7ae6160.png)

I am unable to provide reproduction steps, I wish I could localize it but this happ

[2019-10-13 20:22] #38 closed

[2019-10-16 21:49] mattkrick opened #39 "support table & index schema?"
Love the driver! Thank you so much for the work you've put into it.

Are you opposed to a way to instantiate `r` so we could pass in a type schema? I'm looking for a way to get type information automatically without having to inject it into every query.

Rough idea:

[code]

I'm sure there are some gotchas since the `tableName` could be a function, but I figure it'd be a nice little check that wor

[2019-12-17 02:40] BannerBomb opened #40 "ReqlUnknownError: Cannot use r.row in nested queries."
Doing something like this
[code]

using this package seems to give me the error
[code]

but running the exact same script with the dataexplorer works perfectly fine :thinking:
![image](https://user-images.githubusercontent.com/11788894/70960275-96eded80-204c-11ea-8759-b301c9393510.png)

[2019-12-17 09:28] atassis commented on #40
@BannerBomb  You should use functional query like `.filter(i => ({ roboboard: i('something') }))`. rethinkdb doen't have the scope in `r` execution, thats why you need to directly declare a variable to be used.

[2019-12-17 11:11] atassis opened #41 "What happens on connection error ?"
If we are not making any queries for a long time, we can meet a `RethinkDBError` with type `CONNECTION`. Why the library is not handling such a case by itselves? As well there is no option to set minimum of existing connections at a time, so we have to write a wrapper above `.run()` which checks if connection error is thrown or not.
Exact message of error is "The connection was closed before the q

[2019-12-17 11:33] atassis opened #42 "Where is API documentation located?"
=)

[2019-12-19 22:36] ronzeidman commented on #41
never encountered that kind of error before but I'm guessing if you set a ping interval you can avoid it, ping interval is in milliseconds and it sends a ping to all open connections for every interval amount of time

[2019-12-20 22:12] McSneaky opened #43 "Update for RethinkDB 2.4.0"
Since RethinkDB 2.4.0 was released it would be cool to get updates for TS driver to support its new features :slightly_smiling_face:

https://github.com/rethinkdb/rethinkdb/releases/tag/v2.4.0

[2019-12-21 11:51] ronzeidman commented on #43
But operations and write hooks are supported. Something else needs to be added?

[2019-12-21 17:35] McSneaky commented on #43
:open_mouth: It is indeed, for some reason I didn't notice bitwise ops..

Thnx for great driver! :yum:

[2019-12-21 17:35] #43 closed

[2020-01-09 11:07] yaneony opened #44 "r.connectPool not waiting for connection/not blocking the rest."
My issue is referring to another RethinkDB library, rethinkdbdash and how the pool connection was made. My problem is that we use self-invoking/self-calling functions, and there where problem occur.

Following code work just fine, because self-invoked function is not being called before rethinkdb connection is established.
[code]

But, it's not working with rethinkdb-ts because you'll have to call

[2020-01-09 11:18] McSneaky commented on #44
I don't think rethinkdbdash blocks whole execution, more like queues up queries and then starts to return them after connection is established.
But I'm not sure since I haven't tested something like this in there

[2020-01-09 11:26] yaneony commented on #44
@McSneaky running simple test:
[code]

Outputs following:
[code]
Since self-invoking functions are called immediately, i think that rethinkdbdash is waiting for connection/blocking execution after... Running same code with rethinkdb-ts will throw an error above...

[2020-01-12 18:53] ronzeidman commented on #44
I don't understand...
I cannot reproduce the issue,
[code]
works for me without issues...

[2020-01-12 19:05] ronzeidman commented on #44
I can externalize the `waitForHealthy` function:
[code]
This is actually a feature, not a bug, I wanted to know ahead of time if the pool is connecting or not, the rethinkdbdash connect doesn't tell you on initialization weather it works or not, you have to wait for the first query... this way you can initialize the app and handle it better if you have no connection to the db on start.
I also didn

[2020-01-31 12:03] ChrisTalman opened #45 "ValueChange Missing Field 'Error'"
According to the `insert()` documentation:

It seems that `ValueChange` currently [lacks this in the type definitions](https://github.com/rethinkdb/rethinkdb-ts/blob/d9fe5d6c88e8ddb3827df544b0c3da31f6957fd6/src/types.ts#L170).

The fix would seem to be very minor: simply add to `ValueChange` a third optional property, `error`.

[2020-01-31 20:28] ronzeidman commented on #45
I couldn't reproduce this error field. tried listening to a table that got a conflict error and I got nothing in the "changes" feed...

[2020-01-31 20:55] ChrisTalman commented on #45
I encountered the field during my use of `forEach()`.

[2020-01-31 21:12] ronzeidman commented on #45
Found it, `returnChanges` should be `"always"` for me to see it.

[2020-02-18 21:33] GaikwadPratik opened #47 "`connectPool` never returns second time"
@ronzeidman ,

This is more like a question than an issue. If I invoke `await r.connectPool(dbOptions);` multiple times(mistakenly), then only the first call returns, the second call or any subsequent calls to the above line never returns and kind of appear to be freezing.

Any idea, why?

[2020-03-25 21:11] anli-xsigns commented on #47
Yes, I spent the whole day finding the issue I had with my code (I had two connectPool too). The problem is in lines https://github.com/rethinkdb/rethinkdb-ts/blob/12fa16308cb73239dc5947a7da1ae82fd5292d3e/src/query-builder/r.ts#L51-L54.
There an existing pool on the same connection will be drained if a new pool is created on the same connection. That can lead to silent errors in my opinion.

At le

[2020-05-17 22:02] atassis opened #49 "`then()` in types destroys dynamic query generation"
We did an internal tool for us to dynamically generate an index for queries in old js backend. Now we have to use that code in new ts backend. By using old query generator I have found a mistake in types- you have described `then(): never` but it shouldn't be even stated- it breaks Promise<Rquery<T>>` and all other extended from `RQuery` interfaces.
For example, next code will be type broken
[code

[2020-05-17 22:06] atassis commented on #49
For example, next code will be type broken
[code]

[2020-05-17 23:06] atassis opened #51 "`args` function can't receive coerced to array selection as argument"
I have stated proper runnable query below.
[code]
Typescript says next:
```TS2345: Argument of type 'RDatum<any[]>' is not assignable to parameter of type 'RValue<string | number | boolean | object | any[] | null>[]'.   Type 'RDatum<any[]>' is missing the following properties from type 'RValue<string | number | boolean | object | any[] | null>[]': pop, push, concat, join, and 16 more.```
This is b

[2020-05-22 21:14] atassis opened #56 "Stop using deprecated node util API"
We are using deprecated since node v4 API like `isUndefined`. We need to create utility functions in single file and move to them instead of deprecated API

[2020-05-23 13:51] atassis commented on #18
@tommmn Transactions should be implemented on database level. An issue should be opened on main rethinkdb repo, not in the js driver repo. And yes, there is still nothing done in ReDB for transactions. Closing an issue.

[2020-05-23 13:51] #18 closed

[2020-05-24 20:48] atassis commented on #37
Since this is a database driver, the minimal and needed functionality for this repo is to provide all queries and database standard functionality (like `setWriteHook`). Making schema validation lies beyond current scope of features.
If you have any questions- you can create a new issue. Closing this one

[2020-05-24 20:50] atassis commented on #39
Closing this issue due to https://github.com/rethinkdb/rethinkdb-ts/pull/46#issuecomment-633056640

[2020-05-24 20:50] #39 closed

[2020-05-24 20:52] atassis commented on #11
Hello there. I am starting to contribute widely to this repo. I would like to provide this kind of feature for the driver. Can you share your function for faster development? If not, it'll take much longer for this task being reached.

[2020-05-24 20:55] #37 closed

[2020-05-24 21:20] ChrisTalman commented on #11
Hey @atassis. [The code is here.](https://github.com/ChrisTalman/rethink-utilities/blob/master/src/Modules/Run.ts)

It makes use of my own `delay()` method, but that can be easily substituted.

I hope you find it in some way useful. It wasn't exhaustively planned out, and so it may not be the most elegant implementation. But, it has seemed to serve me very well for quite some time at this point.

[2020-06-01 07:57] atassis commented on #42
Can't remember what exactly I wanted to check in documentation. Closing and ll create new issue if needed

[2020-06-01 07:57] #42 closed

[2020-06-01 11:22] #56 closed

[2020-06-19 03:41] mishawakerman commented on #44
We have a similar issue with our expressjs app and moving from `rethinkdbdash` → `rethinkdb-ts`. With `rethinkdbdash`, creating our express app and initialising the database was synchronous. After moving to `rethinkdb-ts` we needed to run `r.connectPool(...)` when the app initialised. The (apparent) way to handle this sort of async initialisation is to return an app promise rather than an app and

[2020-06-19 06:23] mishawakerman opened #60 "Synchronous connection pool initialisation `r.connectPool()`"
We encountered an issue when migrating our expressjs app from `rethinkdbdash` → `rethinkdb-ts`. With `rethinkdbdash`, creating our express app and initialising the database was synchronous:

[code]

After moving to `rethinkdb-ts` we needed to run `r.connectPool(...)` when the app initialised. The (apparent) way to handle this sort of async initialisation is to return an app promise rather than an

[2020-06-20 14:58] ChrisTalman opened #61 "hasFields(): RDatum <string> Not Allowed"
In some situations, `hasFields()` does not seem to allow `RDatum <string>`.

I'm not sure what the precise conditions are in which this happens. Typically, I'm checking for a field on a document.

I'm using `rethinkdb-ts@2.4.2`.

[2020-06-23 03:56] mishawakerman opened #62 "Understanding TLS support."
**UPDATE: Adding information regarding the `tls` connection option: `rejectUnauthorized`**

I'm currently looking at securing `rethinkdb-ts` driver connections to a RethinkDB instance (not cluster).

Testing locally, the server has been configured as follows:
[code]
I can confirm that when I visit the admin console I have a secure connection (I used `mkcert` to generate a trusted CA and the associ

[2020-06-23 04:03] mishawakerman commented on #62
I've also confirmed that the official `rethinkdb` driver can only connect to the rethinkdb instance with the following configuration that includes the `ssl.ca` option:
[code]

[2020-06-23 05:00] mishawakerman commented on #62
Even adding non-trusted certificates and explicitly adding `rejectUnauthorized: true` doesn't seem to prevent the driver from connecting and running a query. That is, this works (when I really don't think it should because the certificate used by the DB is not trusted):

[code]

[2020-07-24 14:24] atassis commented on #61
I know this bug. Typing is wrong. Will try to fix this as soon as I can. But still it is better if you provide the code=)

[2020-07-26 17:06] atassis commented on #60
connectPool should be a Promise because by default it checks if the pool is healthy. I don't think, that this behavior is redundant, so I am closing an issue. And yes, we are going to make more changes to the library, so don't think that this library is strongly based on `rethinkdb-dash`

[2020-07-26 18:02] atassis commented on #60
Okay, I have reviewed the code and, maybe, we can change an API and create an event when connectPool is ready. I'll discuss this with a team.

[2020-07-28 12:49] GaikwadPratik opened #63 "Queries broken after upgrading to 2.4.3"
@ronzeidman,
I was creating package for our product and didn't realize  a new package for `rethinkdb-ts` was released. So npm updated the package and now I'm getting below errors suddenly

[code]

Most of the queries seems to be related to `merge` and `without` returning `RDatum<Partial<T>>`. All of these were fine with package `2.4.2`. I'm not sure why changing target from `es2017` to `ES2017` wo

[2020-07-28 19:03] atassis commented on #63
@GaikwadPratik can you provide the code example? I'll check this

[2020-07-28 19:15] atassis commented on #61
@ChrisTalman can you provide a working example of query, which works in admin panel, but throws in code?

[2020-07-28 21:20] GaikwadPratik commented on #63
@atassis ,

for instance code for
[code]
IS =>

[code]

[2020-07-28 21:21] ChrisTalman commented on #61
[code]

[2020-07-28 21:47] atassis commented on #63
@GaikwadPratik the github repo or smth? Or can you reduce the typings to simple examples so I can copy paste?

[2020-07-28 21:56] atassis commented on #63
[code]
@GaikwadPratik I have made an example by my own (tried to suggest what's happening) and it works fine with [this PR](https://github.com/rethinkdb/rethinkdb-ts/pull/66)

[2020-07-28 21:59] atassis commented on #36
@lenovouser hello. I'll try to investigate if we can split out the different logic to its own modules inside the package. Right now the `r` is a big polluted singleton which does all the magic. It'll take time, but still better than nothing=)

[2020-07-28 22:03] atassis commented on #61
I think i have fixed that right now in the https://github.com/rethinkdb/rethinkdb-ts/pull/66. I'll wait for tomorrow if all my PRs can be reviewed by teammates and then will merge them all and deploy a new version. It will be appreciated if you can review all versions from 2.4.3 and above and create issues if something happens. I am going to help rethinkdb team with JS stuff for a while

[2020-07-28 22:25] atassis commented on #47
@GaikwadPratik @anli-xsigns  I might resolve this by splitting the logic into separate models, so `r` won't be a singleton which rules them all. `r` will only be needed to generate a query, while all connection handling, query running, etc will be handled by different pure functions

[2020-07-29 07:44] anli-xsigns commented on #47
At the moment I'm not using this anymore. Your idea sounds good.

[2020-07-29 10:09] atassis commented on #47
@anli-xsigns you are not using rethinkdb or this exact library?

[2020-07-29 12:05] anli-xsigns commented on #47
I'm not using rethinkdb anymore because work seems to be suspended again.

[2020-07-29 12:34] atassis commented on #47
Can't say thats a bad decision=)

[2020-07-29 23:04] #61 closed

[2020-07-29 23:04] #23 closed

[2020-07-29 23:04] #51 closed

[2020-07-29 23:06] #49 closed

[2020-07-30 16:40] atassis commented on #63
Closing an issue since no examples were provided. If you can provide them, reopen the current issue with examples, please

[2020-07-30 16:40] #63 closed

[2020-08-10 21:29] jonasbeyer opened #67 "Default command can't be chained with pluck"
**Describe the bug**

Chaining the `default` command with `pluck`  causes a TypeScript error which says that there is no compatible signature.

**To Reproduce**

[code]

**Expected behavior**

It should be possible to chain both commands to provide a fallback value.
Otherwise, if a document doesn't exist, RethinkDB will throw an exception.

See: https://github.com/rethinkdb/rethinkdb/issues/3381

[2020-08-11 15:05] atassis commented on #67
@jonasbeyer i'll check and try to fix this in next 2 days

[2020-08-11 16:05] atassis commented on #67
@jonasbeyer deployed a fix in 2.4.5. Please, check and ping me

[2020-08-11 16:52] atassis commented on #67
Reopen if it's not fixed

[2020-08-11 16:52] #67 closed

[2020-08-13 21:21] syy1125 opened #68 "TypeScript type definition does not allow match commands in filter"
**Describe the bug**
Filtering using `match`, although valid in reql, shows up as an error for TypeScript.

**To Reproduce**
Steps to reproduce the behavior:
[code]
The expression above works as expected and returns `['foo']` (tested using data explorer in admin website).
However, TypeScript disallows this, with error message
[code]

**Expected behavior**
Type definition should be able to express

[2020-08-16 11:48] ChrisTalman opened #69 "merge(): Object from Callback Disallowed"
The following kind of query yields a type error:

[code]

The type definitions seem to expect that the callback will return an `RDatum`, and so do not accept a raw JavaScript object.

It's valid ReQL for the callback to simply return a raw JavaScript object.

[2020-08-20 21:52] atassis commented on #68
@syy1125 I'll try to fix in next several days, but it would be nice if you test the 2.4.5 version of package

[2020-08-20 21:53] atassis commented on #69
I'll fix that in next several days.

[2020-08-24 16:16] syy1125 commented on #68
Still an issue on 2.4.5

[2020-08-24 22:23] syy1125 commented on #68
Also, `coerceTo('bool')` is valid reql, but for some reason it not documented at https://rethinkdb.com/api/javascript/coerce_to?
I'm bringing this up because I'm playing with the idea that, instead of changing the callback return type to `RDatum<any>` (which seems to be the obvious solution), perhaps users should be required to do `coerceTo('bool')`.

I'm assuming this is what rethinkdb does under

[2020-09-12 12:45] atassis commented on #69
@ChrisTalman What is the version of the package you use? Checked right now on latest- cant reproduce

[2020-09-12 15:58] ChrisTalman commented on #69
`2.4.2`.

If you can't reproduce it, then it's probably fixed.

I'll reopen this if I encounter it in `2.4.5` or later.

[2020-09-12 15:58] #69 closed

[2021-01-02 12:37] keyBeatz opened #71 "Saved data as binary then received json on read"
**Describe the bug**
Ive saved data as binary (Uint8Array, ArrayBuffer). Then I tried to receive the saved data however the result is json representation of binary object.

Means:
I insert: `Uint8Array[0, 0, 0, 0]`
I receive: `{'0': 0, '1': 0, '2': 0, '3': 0}`

**To Reproduce**

Test case:
[code]

**Expected behavior**
Should return data in binary format as described in [docs](https://rethinkdb.co

[2021-01-02 13:09] keyBeatz commented on #71
Turns out there is currently no support for JS ArrayBuffer.

[2021-01-29 00:30] BannerBomb opened #72 "Class 'Cursor' incorrectly implements interface 'RCursor<any>'"
**Describe the bug**
When attempting to compile a script that imports rethinkdb-ts I end up getting an error which started happening after 2.4.6 update but works fine on 2.4.5. I did some debugging and removed some code to see if it was something in my file and it seems to happen as long as you are importing the module in the file `import { r } from 'rethinkdb-ts';`
[code]

**To Reproduce**
Steps

[2021-01-29 06:32] atassis commented on #72
I'll try to fix this in a few days

[2021-01-29 23:49] atassis commented on #72
@BannerBomb finally new version was released. Please, check and comment about results

[2021-01-30 17:08] atassis commented on #71
Why don't you use `Buffer.from` API method?

[2021-01-30 23:29] BannerBomb commented on #72
I've updated and it's working now. Thanks,

[2021-01-31 07:50] atassis commented on #72
If you are interested- you can join our slack and help me in testing the new version of this library

[2021-01-31 07:50] #72 closed

[2021-02-06 08:43] iambumblehead opened #74 "wanted to say thank you"
I've been using this package and other rethink-related packages such as thinky and rethinkdbdash in various projects. rethinkdb-ts is my favorite and rethinkdb-ts is the main thing that keeps rethinkdb usable for me.

Thank you for what you do :)

[2021-02-06 22:57] atassis commented on #74
Hello, @iambumblehead. This library is most updated one compared to all others. Worth noting, we have longterm plans to update current repo heavily and move it `rethinkdb` npm package (as well as deprecating all other repos and setting current as single official one).

[2021-02-07 04:10] iambumblehead commented on #74
thank you @atassis I will look forward that

[2021-02-07 04:10] #74 closed

[2021-02-09 01:11] murrayju opened #76 "Node multipleResolves warning is firing on connect"
**Describe the bug**
The node warning event `multipleResolves` is being triggered shortly after connecting via `r.connectPool()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Register the multipleResolves handler
[code]
2. Connect to a db
3. Wait about 20 seconds

**Expected behavior**
The multipleResolves handler should not be triggered.

**System info**
 - OS: macOS, docker (`node:14` b

[2021-02-09 13:30] atassis commented on #76
I'll test and fix this in several days

[2021-02-09 13:43] atassis commented on #76
@murrayju this happens due to the opened issue in [node](https://github.com/nodejs/node/issues/24321). Can you describe the case where it disturbs you? Can't call [this ](https://github.com/rethinkdb/rethinkdb-ts/blob/main/src/connection/connection.ts#L120) a bug

[2021-02-09 20:36] murrayju commented on #76
Thanks for the quick response. I'm aware of the node issue, I was only concerned because this was a change in behavior that I didn't expect from a patch release, and _might_ have been sign of a problem. The implementation using `Promise.race` totally explains it, so I'm satisfied.

[2021-02-09 20:36] #76 closed

[2021-02-09 21:49] atassis commented on #36
@lenovouser @skynightz I have made some work in the direction of this issue. If you are interested to help me test this out- get in touch

[2021-02-25 07:28] Taha-Firoz opened #78 "Docs outdated from current default Node Package"
When installing this package via NPM we get a default version of "3.0.0-alpha.0" however there have been some substantial API changes in that version that makes a majority of the current documentation inapplicable. It's either that or modules were broken down differently because downgrading to  "2.4.8"  get's everything working like the docs again.

[2021-02-25 14:46] atassis commented on #78
Crap. I have asked to unpublish this version, but it wasn't. Thanks for the notice. I am preparing a new version of rethinkdb-ts with separated logic to make it more maintainable (with some major fixes with pooling)

[2021-02-25 14:46] atassis commented on #78
I'll close this when unpublishing ld be done

[2021-02-26 09:29] atassis commented on #78
I have pushed 2.4.9, which is the same as 2.4.8, so it might work the same

[2021-02-26 09:29] #78 closed

[2021-02-27 02:23] iambumblehead opened #79 "what is the recommended way to perform a health check?"
would you recommend either of these calls for usage with a health check function?
[code]

[code]

[2021-02-27 17:15] atassis commented on #79
Well, I can't get a proper answer, but `isHealthy` is not enough, as I think. The better is to run `r.expr(1).add(1)`, for example. Not calling any table, just asking for result the db.

[2021-02-28 06:14] iambumblehead commented on #79
thanks for the response

[2021-02-28 06:14] #79 closed

[2021-03-13 19:29] iambumblehead opened #80 "RethinkDB question, better to use one big table or two separate tables?"
@atassis I hope it is OK to ask your opinion here regarding RethinkDB data: given a large set of data, is it better to use one big table or two separate tables?

I searched for answers but mostly found advice for DynamoDB users recommending one giant table for everything.

For example, "TablePets"
Or "TableCatPets" and "TableDogPets"

For a large set of "dog" and "cat" type documents, otherwise th

[2021-03-14 03:46] atassis commented on #80
Btw, you don't have to ping me directly, as I am watching all the issues in Github on spare time=)

[2021-03-23 21:18] iambumblehead commented on #80
@thelinuxlich recommended one table and that's what I'm going with here, closing this ticket

[2021-03-23 21:18] #80 closed

[2021-04-25 19:50] BannerBomb opened #81 "Type 'string[]' is not assignable to type 'MultiFieldSelector'."
**Describe the bug**
When using TypeScript the "pluck" should be able to accept an object with keys that have an array of strings according to the ReQL documentations [here](https://rethinkdb.com/docs/nested-fields/javascript/). Such as
[code]

but instead, it errors with the following
[code]

**To Reproduce**
Steps to reproduce the behavior:
 - See the **Describe the bug** section above.

**Expec

[2021-04-28 11:49] atassis commented on #81
Fixed in v2.4.10, try it

[2021-04-28 11:49] #81 closed

[2021-05-06 22:35] frankleng opened #82 "Support writable stream"
**Is your feature request related to a problem? Please describe.**
Saw that support for writable streams was dropped, but open to requests.
Our ETL stack depends on writable streams, especially transform streams before writing to rethinkdb.

**Describe the solution you'd like**
A method similar to rethinkdbdash`toStream({writable: true})`, perhaps `getWritable()`?

**Describe alternatives you've c

[2021-05-07 20:41] Sven65 commented on #60
Has there been any update on this, @atassis?

[2021-05-07 21:48] Sven65 commented on #60
Thanks for the response, I'm loolking forward to v3!

[2021-05-11 12:43] atassis commented on #60
Ok, I have prepared the new version in `next` branch, but will need few more days to write a new documentation from scratch for this and deploy as alpha version, our CI is not ready for alpha's yet

[2021-05-11 12:45] atassis opened #85 "Version 3.0"
Gonna leave the list of needed things to do before deploying the 3.0 version.

[2021-05-11 12:47] #85 closed

[2021-05-26 15:38] lerouxb opened #86 "Using cursor as an async iterator throws when it reaches the end"
According to the readme:

So according to my limited understanding of async iterators this should work:

[code]

But this prints every row and then throws `RethinkDBError [ReqlDriverError]: No more rows in the cursor.` Shouldn't it just exit the loop when it reaches the end? I'm using node 14.

[2021-05-26 19:26] atassis commented on #86
Have tested now, it breaks on small amount of data, it seems, will try to fix later

[2021-05-27 08:50] atassis commented on #86
You can test it in `2.4.11`, might be fixed

[2021-05-27 08:50] #86 closed

[2021-05-27 19:03] atassis commented on #82
I'll think about it, but want to clean and stabilize the code we already have to make it more solid. btw, you can check `next` version of a package

[2021-05-28 08:38] lerouxb commented on #86
Thanks! I tested this and it works for me now.

[2021-06-14 14:06] atassis commented on #68
About `coerceTo('bool')`- it is documentation's error, will report this.
About making coerceTo thing required in type- definitely not.
About the bug: next thing works fine
[code]
Closing an issue, might work long time ago

[2021-06-14 14:06] #68 closed

[2021-06-14 19:53] atassis commented on #60
at this very moment you are able to synchronously instantiate the connection pool by using `rethinkdb-ts@next`
[code]
I am working on making API clear, and also maybe adding some more stuff, thats why still not `latest` tag.

[2021-07-25 12:27] pavel-kolesnikov opened #89 "Does not work with Deno"
**Is your feature request related to a problem? Please describe.**
Deno can't use this overall great library because it requires at least `net` and `tls` built-ins Node.js which are not covered by shims on the Deno side.

**Describe the solution you'd like**
It would be tremendously great if the library drops  Node.js buildin dependencies to support Deno and browser scenarios.

**Describe alternat

[2021-07-25 14:18] atassis commented on #89
This package is written for node js first, so using this in Deno is not any kind of required feature. Still, I have researched a little, what's happening around the Deno-Node.js compatibility- `net` and `tls` are not yet there. If there are any instruments for keeping both node and Deno in a single codespace- I can do this. But I need help from someone with this issue since I see no big effort fro

[2021-07-25 14:23] atassis commented on #89
Если вкратце- могу запилить форк, если подскажешь, чем заменить net и tls в дено. Но, скорее всего, в модуль оно не попадет, так как дено работает с пакетами иначе и с нодой оно не заработает

[2021-07-25 14:46] pavel-kolesnikov commented on #89
Understood. In the README it says the old `rethinkdbdash` module supported browser and browser support is considered to be a thing if there's a demand. I assume browsers has limited support for built-in Node.js modules like `net` or `tls`...

There is a [port](https://github.com/lucacasonato/rethinkdb-deno) that does not work for me either...
Так что если сможешь взглянуть, чем они заменили `net`

[2021-07-25 15:23] atassis commented on #89
Так зачем тебе сразу две херово работающие технологии, тебе ресинка не хватает?)
А так я не знаю, как работал rethinkdbdash, но тут сокетное соединение. Если в старом модуле использовался http- понятно, почему дэш работал, но это хреновая затея для бд либы.
В общем, я сам даже не трогаю дено, пока он сколь-нибудь prod реди не станет, но не вижу смысла сколь-нибудь сильно париться. Пока что я не ви

[2021-07-25 15:23] #89 closed

[2021-07-25 15:25] atassis commented on #89
Long story short- closed an issue due to unreadiness of Deno for simple migration the current codebase and lack of any necessity since Deno is still not that production-ready technology. Later the question can be discussed again, but not now.

[2021-08-02 19:24] GaikwadPratik opened #90 "trouble with `waitForHealthy`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Use [rethink-error](https://github.com/GaikwadPratik/rethink-error.git) to reproduce. After cloning it, run
`nom run build && node dist/index.js`

**Expected behavior**
Query should be executed without any errors upon reconnection

**Actual behavior**
I am getting below logs

[2021-08-02 19:57] atassis commented on #90
So the query here tries to be executed onto the unexisting database and returning the proper error. Also, the connection to the database is working in this example, so see no bug in this code. Closing.

[2021-08-02 19:57] #90 closed

[2021-08-02 19:59] GaikwadPratik commented on #90
@atassis,

The database does exists. I named them as `UnknownDB` and `UnknownTable`. That is bad on my part. I wasn't thinking clearly.

[2021-08-02 20:04] GaikwadPratik commented on #90
@atassis
I renamed database and table and here is correct stack trace. Can you please reopen the issue again?

[code]

[2021-08-02 20:04] atassis commented on #90
Created db and table
![image](https://user-images.githubusercontent.com/5769345/127917260-d2465c4a-0cd1-4635-a3cc-ec26501c0750.png)

[2021-08-02 20:06] GaikwadPratik commented on #90
Please pull up the git repo one more time. I updated dbname and tablename in the source code. And the stack trace after renaming is above

[2021-08-02 20:15] atassis commented on #90
Cannot receive an error locally, some problems on your test stand, or missing more info. But think its a first case, this error shows when rethinkdb is busy with smth

[2021-08-02 20:16] GaikwadPratik commented on #90
What more info do you need? So I should try by waiting more than 1 sec?

[2021-08-02 20:23] atassis commented on #90
how to reproduce an error from scratch
Which tables to create, etc

[2021-08-02 20:33] GaikwadPratik commented on #90
I used below queries to create database, and table in web explorer:

[code]

the tag `hio_config` is embedded in db server that I'm working with. In essence this should be replicable with `default` tag as well.

So can you please reopen the bug so we can track it?

[2021-08-02 20:42] GaikwadPratik commented on #90
Steps to reproduce:

1. Make sure rethinkdb is running as service(in my case using systemd on ubuntu server)
2. create db using `r.dbCreate("TestRethinkErrorDB");`
3. create table using `r.db("TestRethinkErrorDB").tableCreate("TestRethinkErrorTable")`
4. Clone `rethinkdb-error` repo from the link above
5. install npm packages and run `rpm run build && node dist/index.js` in `rethinkdb-error` direc

[2021-08-12 22:06] iambumblehead opened #91 "duplicated queries in one of the tests"
This test appears to test identically created indexes, twice:
https://github.com/rethinkdb/rethinkdb-ts/blob/main/test/manipulating-tables.ts#L298-L310

I just wanted to let you know in case you might want to delete duplicate queries in that test.

[2021-08-13 13:20] atassis commented on #91
Looks a bit strange, don't know what was intended to be tested where, would ask guys what it is all about, thanks!

[2021-08-20 13:37] GaikwadPratik commented on #90
@atassis ,

Can you please re-open this bug?

[2021-10-30 17:53] NetOperatorWibby opened #95 "Incompatible with Node 17"
**Describe the bug**
When running `npm i` I am prevented from installing.

**To Reproduce**
Steps to reproduce the behavior:
1. Update node to version 17
2. Attempt package installation

**Expected behavior**
I expect installation to work.

**Screenshots**
[code]

**System info**
 - OS: macOS Monterey 12.0.1
 - RethinkDB Version: 2.4.1

**Additional context**
I don't think CPU is a factor but I am

[2021-10-31 09:28] #95 closed

[2022-05-10 22:16] iambumblehead opened #101 "support node v18+"
when using node v18.1.0, which isn't supported by rethinkdb-ts, this error occurs during connection,
[code]

[2022-05-10 22:36] iambumblehead commented on #101
I tried replacing cursor.js' `this.closed = false` with `this.close();` to see what would happen,
[code]

[2022-05-11 03:55] atassis commented on #101
That wont help, `close` is our method, there is a `destroy` method of `Readable` which should be called. Will test a fix soon, though dont consider v18 branch reliable until it goes into LTS state
Still good to know about issues, just my personal consideration about production apps=)

[2022-06-27 17:02] NetOpWibby opened #103 "`s.unref` is not a function"
I'm trying to use this with Deno and connect to my database. I am using [esm.sh](https://esm.sh) as a way to enable usage of Node modules with Deno projects. Here's the error message:

[code]

The [`delay` function](https://github.com/rethinkdb/rethinkdb-ts/blob/main/src/util/index.ts#L18-L26=) is the only reference to `unref` I could find:

[code]

From a quick search about this issue, maybe usin

[2022-06-28 06:41] atassis commented on #103
I dont know the deno, have to research it for a better approach of making it. Won't make any changes until they are described properly, the main goal is to make it stable for node js. We are unrefing here so the process ld be able to stop immediately, without waiting for the timeout to finish, so if clearTimeout does that properly- I'll do the change by myself

[2022-06-28 16:56] NetOpWibby commented on #103
All good, I just pulled this module into my Deno project and changed the code to:

[code]

I'll probably just end up forking your module for Deno once I figure out solutions to existing (and new) `// @ts-ignore`s.

[2022-06-29 01:06] atassis commented on #103
Ah, no, the thing you do- you create the timeout and then immediately clear it, so the delay function will never resolve

[2022-06-29 01:11] atassis commented on #103
Found [this](https://doc.deno.land/https://deno.land/std@0.127.0/node/timers.ts/~/setUnrefTimeout)  for deno, but that's a different api, don't know now how to manage this for both deno and node js

[2022-06-29 01:52] NetOpWibby commented on #103
Oh wow, didn't know that existed! I'll check it out.

[2022-06-29 02:49] atassis commented on #103
I can't find a way to make an isomorphic code which uses different methods depending on an env it is executed (node ".unref" and deno "setUnref..." stuff)

[2022-06-30 06:54] atassis commented on #103
Can you describe how do you use this repo in deno?

[2022-06-30 15:43] NetOpWibby commented on #103
I can add code if that helps.

[2022-07-01 02:14] atassis commented on #103
I don't quite get how rethinkdb-ts is related to the message above=)

[2022-07-01 04:57] NetOpWibby commented on #103
I'm using this module for my project. I can close this issue though, I fixed it for my purposes.

[2022-07-01 04:57] #103 closed

[2022-07-01 05:09] atassis commented on #103
I am interested how do you run it in deno
Maybe I can do some workarounds right in repo so it can be run in any environment

[2022-07-01 05:31] NetOpWibby commented on #103
It's literally just a simple lookup query:

[code]

[2022-07-01 17:24] NetOpWibby commented on #103
<img width="843" alt="SS 2022-07-01 at 10 23 29 AM" src="https://user-images.githubusercontent.com/1288356/176941693-d0ac3e15-099c-4717-b23b-7b193a71ee70.png">

The way you handle deps in Deno is to list them in a single file and then just import the modules you need from there.

[2022-08-01 12:50] Upd4ting opened #104 "request error takes 1 argument, but 0 provided"
**Describe the bug**
When trying to do a request like that
[code]

I get this error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
Doing the simple request above.

**Expected behavior**
It should work, when I test this request in the rethinkdb web interface, it works

**System info**
 - OS: Linux 5.10.16.3-microsoft-standard-WSL2 x86_64
 - RethinkDB Version: 2.4.2~0bullseye
 - (its the

[2022-08-01 12:53] Upd4ting opened #105 "request .group() return never type"
**Describe the bug**
When I do a request like that
[code]

.group returns a never type so it does not compile

**To Reproduce**
Do the simple request above

**Expected behavior**
It should return a correct type as this request is totally valid in reql.

**System info**
 - OS: Linux 5.10.16.3-microsoft-standard-WSL2 x86_64
 - RethinkDB Version: 2.4.2~0bullseye
 - (its the docker image of rethinkdb)

[2022-08-06 19:41] Upd4ting commented on #104
Seems fixed, the error may comes from our architecture

[2022-08-06 19:41] #104 closed

[2022-08-07 03:11] atassis commented on #105
I have also tested this and it works as intented. Closing. If you have more proper details- add them, but the latest commit does the job without any issues

[2022-08-07 03:11] #105 closed

[2022-08-22 04:21] atassis commented on #101
Just making a note that I do remember about this issue. Thinking about making any kind of a changelog and release 3.0 version of redb-ts, and after that fix current issue

[2022-08-22 05:57] iambumblehead commented on #101
maybe remove the `[david | no longer available]` badge from the README

[2022-08-22 09:10] atassis commented on #101
It is better to fix it, but also a point

[2022-09-13 22:09] NetOpWibby commented on #40
I just ran into this issue as well.

[code]

Interestingly, trying out your solution gave the same error:

[code]

[2022-09-14 01:14] atassis commented on #40
Thats totally not what I have suggested. I have advised to use the `i` argument, though you just skip it and continue using the `r`

[2022-09-14 01:24] atassis commented on #40
About an error itself- it will take a time to turn out why it is handled as an error. I am not quite good at understanding how to resolve it, but that's an issue so I'll mention it while continue researching the code. So for now you can use the solution above, I don't see any potential issues for you.

[2022-09-14 03:32] NetOpWibby commented on #40
Ah, thanks for the corrected code. I no longer get an issue but I also don't get any documents returned.

[2022-09-14 03:33] NetOpWibby commented on #40
I was looking through the code and I have no idea what to look for either. I'll keep looking as well though.

[2022-09-14 03:47] NetOpWibby commented on #40
When I throw `i` into a `console.log` I get a bunch of functions that are exposed by `r`, I believe:

[code]

[2022-09-14 05:56] atassis commented on #40
This is just a query builder object instance; you won't receive a document that way. Any console.logs server side are not sent to the rethinkdb, executed and returned back, it's not working that way. All you do with `r.[command]` stuff is you generate a query, which is sent server side and then wait for data being return. So you might have an issue with the conditions you provide

[2022-09-14 07:20] NetOpWibby commented on #40
I'm just passing plain strings, idk what's going on.

[2022-09-15 05:47] atassis commented on #40
This is quite not related to a current issue, I think it'ld be easier if you ask it in the help channel in clack

[2022-09-15 15:15] NetOpWibby commented on #40
I did that first actually, before coming here. I'll just close this. Finally looking into Postgres instead.

[2022-09-15 15:15] #40 closed

[2022-11-07 10:23] atassis commented on #101
Writing here just to inform that I work on this issue now. Smth changed in the way Readable is working, maybe they fixed a bug, which breaks the code now.

[2022-11-08 05:48] atassis commented on #101
published `2.5.0`, it passed tests, but I'ld test it still. If smth fails- better to stay at previous point

[2022-11-10 12:54] atassis commented on #101
I am closing an issue, if you find something- you can create a new one

[2022-11-10 12:54] #101 closed